<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/dark.css">
    <title>Feather Import</title>
</head>

<main>
    <div class="main">
        <h1>Importing match {{ match_number }}</h1>
        <p>Shots {{ shots }}</p>
    </div>
</main>

<style>
    h2 {
        padding: 0;
        margin: 0;
    }

    .main {
        display: flex;
        border-radius: 5px;
        padding: 30px;
        border: 2px solid white;
        flex-direction: column;
        align-items: center;
    }

    .main div {
        display: flex;
        flex-direction: row;
    }

    button {
        margin: 15px;
        padding: 25px;
    }
</style>
